In [1]:
import pandas as pd

In [2]:
football = pd.read_csv('data/understat.com.csv')

In [3]:
football

,Unnamed: 0,Unnamed: 1,position,team,matches,wins,draws,loses,scored,missed,...,xGA,xGA_diff,npxGA,npxGD,ppda_coef,oppda_coef,deep,deep_allowed,xpts,xpts_diff
0,La_liga,2014,1,Barcelona,38,30,4,4,110,21,...,28.444293,7.444293,24.727907,73.049305,5.683535,16.367593,489,114,94.0813,0.0813
1,La_liga,2014,2,Real Madrid,38,30,2,6,118,38,...,42.607198,4.607198,38.890805,47.213090,10.209085,12.929510,351,153,81.7489,-10.2511
2,La_liga,2014,3,Atletico Madrid,38,23,9,6,67,29,...,29.069107,0.069107,26.839271,25.748737,8.982028,9.237091,197,123,73.1353,-4.8647
3,La_liga,2014,4,Valencia,38,22,11,5,70,32,...,39.392572,7.392572,33.446477,16.257501,8.709827,7.870225,203,172,63.7068,-13.2932
4,La_liga,2014,5,Sevilla,38,23,7,8,71,45,...,47.862742,2.862742,41.916529,20.178070,8.276148,9.477805,305,168,67.3867,-8.6133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679,RFPL,2019,12,PFC Sochi,30,8,9,13,40,39,...,38.850259,-0.149741,32.780898,-0.096048,12.838079,10.562327,175,206,38.6587,5.6587
680,RFPL,2019,13,FK Akhmat,30,7,10,13,27,46,...,40.626196,-5.373804,38.363370,-10.495864,11.199502,10.806357,124,206,36.5424,5.5424
681,RFPL,2019,14,Krylya Sovetov Samara,30,8,7,15,33,40,...,42.980693,2.980693,37.550114,-7.777201,11.949903,10.080858,103,215,36.3363,5.3363
682,RFPL,2019,15,FC Tambov,30,9,4,17,37,41,...,39.747938,-1.252062,34.468003,-12.231948,14.666049,9.192768,150,270,29.2413,-1.7587
683,RFPL,2019,16,FC Orenburg,30,7,6,17,28,52,...,37.169797,-14.830203,32.644130,0.201339,12.830908,9.464581,153,215,39.2364,12.2364

In [4]:
football.shape

(684, 24)

In [5]:
football.head(20)

,Unnamed: 0,Unnamed: 1,position,team,matches,wins,draws,loses,scored,missed,...,xGA,xGA_diff,npxGA,npxGD,ppda_coef,oppda_coef,deep,deep_allowed,xpts,xpts_diff
0,La_liga,2014,1,Barcelona,38,30,4,4,110,21,...,28.444293,7.444293,24.727907,73.049305,5.683535,16.367593,489,114,94.0813,0.0813
1,La_liga,2014,2,Real Madrid,38,30,2,6,118,38,...,42.607198,4.607198,38.890805,47.213090,10.209085,12.929510,351,153,81.7489,-10.2511
2,La_liga,2014,3,Atletico Madrid,38,23,9,6,67,29,...,29.069107,0.069107,26.839271,25.748737,8.982028,9.237091,197,123,73.1353,-4.8647
3,La_liga,2014,4,Valencia,38,22,11,5,70,32,...,39.392572,7.392572,33.446477,16.257501,8.709827,7.870225,203,172,63.7068,-13.2932
4,La_liga,2014,5,Sevilla,38,23,7,8,71,45,...,47.862742,2.862742,41.916529,20.178070,8.276148,9.477805,305,168,67.3867,-8.6133
5,La_liga,2014,6,Villarreal,38,16,12,10,48,37,...,40.701813,3.701813,38.471977,16.809461,10.072085,8.679660,242,171,62.7363,2.7363
6,La_liga,2014,7,Athletic Club,38,15,10,13,42,41,...,44.106707,3.106707,41.737161,0.088990,7.462406,9.403965,183,171,53.3585,-1.6415
7,La_liga,2014,8,Celta Vigo,38,13,12,13,47,44,...,51.777138,7.777138,46.574205,7.853459,6.056173,10.882769,287,207,55.0488,4.0488
8,La_liga,2014,9,Malaga,38,14,8,16,42,48,...,54.130818,6.130818,49.515437,-8.637099,7.792069,7.019068,184,184,48.5128,-1.4872
9,La_liga,2014,10,Rayo Vallecano,38,15,4,19,46,68,...,70.433460,2.433460,65.973800,-20.412932,6.157978,9.735109,147,219,43.5455,-5.4545
10,La_liga,2014,11,Espanyol,38,13,10,15,47,51,...,48.303916,-2.696084,47.560642,-6.554427,9.381754,7.158217,173,205,50.3850,1.3850
11,La_liga,2014,12,Real Sociedad,38,11,13,14,44,51,...,51.158118,0.158118,46.536026,-15.280658,8.614235,8.829567,146,168,38.7818,-7.2182
12,La_liga,2014,13,Elche,38,11,8,19,35,62,...,58.071770,-3.928230,51.382272,-17.116632,9.517572,8.623287,107,216,40.6718,-0.3282
13,La_liga,2014,14,Getafe,38,10,7,21,33,64,...,53.673382,-10.326618,47.728197,-15.246177,10.145486,7.235660,114,221,40.1031,3.1031
14,La_liga,2014,15,Levante,38,9,10,19,34,67,...,60.270317,-6.729683,54.181697,-21.853093,12.379268,7.501471,97,224,37.6046,0.6046
15,La_liga,2014,16,Deportivo La Coruna,38,7,14,17,35,60,...,50.979304,-9.020696,46.519761,-14.013874,9.872520,7.921498,133,188,43.5249,8.5249
16,La_liga,2014,17,Granada,38,7,14,17,29,64,...,54.283784,-9.716216,51.310678,-18.383080,8.924796,7.551742,117,206,45.7345,10.7345
17,La_liga,2014,18,Eibar,38,9,8,21,34,55,...,53.717962,-1.282038,50.001575,-21.928018,9.636161,8.056608,106,225,35.6537,0.6537
18,La_liga,2014,19,Almeria,38,8,8,22,35,64,...,58.866805,-5.133195,57.380250,-23.169985,8.761425,6.230164,136,220,39.3255,7.3255
19,La_liga,2014,20,Cordoba,38,3,11,24,22,68,...,57.339776,-10.660224,52.137326,-24.602640,11.606826,7.530367,91,253,36.2912,16.2912

In [6]:
football.head(20)

,Unnamed: 0,Unnamed: 1,position,team,matches,wins,draws,loses,scored,missed,...,xGA,xGA_diff,npxGA,npxGD,ppda_coef,oppda_coef,deep,deep_allowed,xpts,xpts_diff
0,La_liga,2014,1,Barcelona,38,30,4,4,110,21,...,28.444293,7.444293,24.727907,73.049305,5.683535,16.367593,489,114,94.0813,0.0813
1,La_liga,2014,2,Real Madrid,38,30,2,6,118,38,...,42.607198,4.607198,38.890805,47.213090,10.209085,12.929510,351,153,81.7489,-10.2511
2,La_liga,2014,3,Atletico Madrid,38,23,9,6,67,29,...,29.069107,0.069107,26.839271,25.748737,8.982028,9.237091,197,123,73.1353,-4.8647
3,La_liga,2014,4,Valencia,38,22,11,5,70,32,...,39.392572,7.392572,33.446477,16.257501,8.709827,7.870225,203,172,63.7068,-13.2932
4,La_liga,2014,5,Sevilla,38,23,7,8,71,45,...,47.862742,2.862742,41.916529,20.178070,8.276148,9.477805,305,168,67.3867,-8.6133
5,La_liga,2014,6,Villarreal,38,16,12,10,48,37,...,40.701813,3.701813,38.471977,16.809461,10.072085,8.679660,242,171,62.7363,2.7363
6,La_liga,2014,7,Athletic Club,38,15,10,13,42,41,...,44.106707,3.106707,41.737161,0.088990,7.462406,9.403965,183,171,53.3585,-1.6415
7,La_liga,2014,8,Celta Vigo,38,13,12,13,47,44,...,51.777138,7.777138,46.574205,7.853459,6.056173,10.882769,287,207,55.0488,4.0488
8,La_liga,2014,9,Malaga,38,14,8,16,42,48,...,54.130818,6.130818,49.515437,-8.637099,7.792069,7.019068,184,184,48.5128,-1.4872
9,La_liga,2014,10,Rayo Vallecano,38,15,4,19,46,68,...,70.433460,2.433460,65.973800,-20.412932,6.157978,9.735109,147,219,43.5455,-5.4545
10,La_liga,2014,11,Espanyol,38,13,10,15,47,51,...,48.303916,-2.696084,47.560642,-6.554427,9.381754,7.158217,173,205,50.3850,1.3850
11,La_liga,2014,12,Real Sociedad,38,11,13,14,44,51,...,51.158118,0.158118,46.536026,-15.280658,8.614235,8.829567,146,168,38.7818,-7.2182
12,La_liga,2014,13,Elche,38,11,8,19,35,62,...,58.071770,-3.928230,51.382272,-17.116632,9.517572,8.623287,107,216,40.6718,-0.3282
13,La_liga,2014,14,Getafe,38,10,7,21,33,64,...,53.673382,-10.326618,47.728197,-15.246177,10.145486,7.235660,114,221,40.1031,3.1031
14,La_liga,2014,15,Levante,38,9,10,19,34,67,...,60.270317,-6.729683,54.181697,-21.853093,12.379268,7.501471,97,224,37.6046,0.6046
15,La_liga,2014,16,Deportivo La Coruna,38,7,14,17,35,60,...,50.979304,-9.020696,46.519761,-14.013874,9.872520,7.921498,133,188,43.5249,8.5249
16,La_liga,2014,17,Granada,38,7,14,17,29,64,...,54.283784,-9.716216,51.310678,-18.383080,8.924796,7.551742,117,206,45.7345,10.7345
17,La_liga,2014,18,Eibar,38,9,8,21,34,55,...,53.717962,-1.282038,50.001575,-21.928018,9.636161,8.056608,106,225,35.6537,0.6537
18,La_liga,2014,19,Almeria,38,8,8,22,35,64,...,58.866805,-5.133195,57.380250,-23.169985,8.761425,6.230164,136,220,39.3255,7.3255
19,La_liga,2014,20,Cordoba,38,3,11,24,22,68,...,57.339776,-10.660224,52.137326,-24.602640,11.606826,7.530367,91,253,36.2912,16.2912

In [7]:
# creating a dictionary in python

In [8]:
second_semester_courses = {
    'id': [212, 213, 214, 215, 216],
    'name_of_course': ['Geometry', 'Trigonometry', 'Fundamentals of Computer Programming', 'Philosophy', 'Basis'],
    'name_of_lectures': ['Miss Diana', 'Mr. Kwabi Emmanuel', 'Mr. Hatsu', 'Mr. Archimedes Sena Senadju', 'Mr. Nelson']
}

In [9]:

unis = pd.DataFrame(second_semester_courses)

In [10]:
uni.shape

NameError: name 'uni' is not defined

In [ ]:
uni

In [ ]:
uni['name_of_course']

In [ ]:
uni['id']

In [ ]:
 football['scored']

In [ ]:
football[['scored', 'team', 'position']]

In [ ]:
d = football[['position', 'team', 'wins', 'scored']]

In [ ]:
d.head(20)

In [ ]:
#iloc is integer location, it is used to locate the position of data

In [ ]:
uni.iloc[0] # single row

In [ ]:
 uni.iloc[0][2] # data out of index 0

In [ ]:
uni.iloc[[0, 1]]

In [ ]:
football.iloc[[20, 28, 34, 45, 200], [0, 1, 2, 3, 4, 5]]

In [ ]:
football.iloc[[0:100]

In [ ]:
football.iloc[[10], [23]]

###

In [ ]:
football.columns

In [ ]:
uni.loc[0:2]

In [ ]:
uni.loc[[0], ['name_of_lectures']]

In [ ]:
t = uni['name_of_lectures'] == 'Miss Diana'

In [ ]:
t

In [ ]:
football.loc[1:20, 'scored']

In [ ]:
type(football['scored'])

In [ ]:
uni

In [ ]:
 uni['name_of_course'].value_counts()

In [ ]:
football.index

In [ ]:
football

In [ ]:
football.reset_index(inplace=True)

In [ ]:
football

In [ ]:
football['npxGD']

In [ ]:
football.loc[19]

In [ ]:
football.sort_index().head()

In [ ]:
football['team'] == 'Real Madrid'

In [ ]:
football.loc[[0, 1, 2, 3, 4, 5], ['team', 'position', 'scored', 'matches', 'wins', 'draws', 'loses']]

In [ ]:
f

In [ ]:
football.sort_index()

In [ ]:
football.sort_index(ascending = False)

In [ ]:
# FILTERING

In [ ]:
# SEARCHING FOR A LAST NAME WHICH IS DOE

In [ ]:
football['wins'] == 7

In [ ]:
v = football['scored'] == 38
v.value_counts()

In [ ]:
second_semester_courses

In [ ]:
uni

In [ ]:
uni.columns = [i.upper() for i in uni.columns]

In [ ]:
uni

In [ ]:
uni

In [ ]:
del uni[2]

In [ ]:
uni

In [ ]:
uni

In [ ]:
unis

In [ ]:
unis.columns = [i.upper() for i in unis.columns]

In [ ]:
unis

In [ ]:
# Renaming

In [ ]:
unis.rename(columns ={'NAME_OF_LECTURES': 'NAME_OF_LECTURERS'}, inplace=True)

In [ ]:
unis

In [ ]:
unis.rename(columns={'NAME_OF_COURSE':'NAME_OF_COURSES'}, inplace=True)

In [ ]:
unis

In [ ]:
unis.index

In [ ]:
unis.columns

In [ ]:
# Updating data in rows

In [ ]:
# How to update a single value

In [ ]:
unis.loc[2]

In [ ]:
unis.loc[2][0]

In [ ]:
unis.loc[3]

In [ ]:
unis.loc[3][2]

In [ ]:
unis.loc[3, 'NAME_OF_LECTURERS'] = 'Mr. Jerry John Akoto'

In [ ]:
unis

In [ ]:
unis.loc[2, 'NAME_OF_LECTURERS'] = 'Prof. Archimedes Sena Senadju'

In [ ]:
unis

In [ ]:
unis.loc[0, 'NAME_OF_COURSES'] = 'Algebra II'

In [ ]:
unis

In [ ]:
unis.loc[4, 'NAME_OF_LECTURERS']= 'Mr. Nelson Ayikpa'

In [ ]:
unis

In [ ]:
unis.loc[4, 'NAME_OF_COURSES'] = 'General Method of teaching'

In [ ]:
unis

In [ ]:
unis

In [ ]:
# updating multiple rows

In [ ]:
unis['NAME_OF_COURSES'].apply(len)

In [ ]:
# Applying on dataframe
unis.apply(len)

In [ ]:
def update_email(NAME_OF_COURSES):
    return NAME_OF_COURSES.upper()

In [ ]:
unis['NAME_OF_COURSES'].apply(update_email)

In [ ]:
unis

In [ ]:
# Applying on series

In [ ]:
unis['NAME_OF_COURSES'] = unis['NAME_OF_COURSES'].apply(update_email)

In [ ]:
unis

In [ ]:
unis['NAME_OF_LECTURERS'] = unis['NAME_OF_LECTURERS'].apply(update_email)

In [ ]:
unis.apply(len)

In [ ]:
unis

In [ ]:
def updated(ID):
    return ID + 1

In [ ]:
unis['ID'] = unis['ID'].apply(updated)

In [ ]:
unis

In [ ]:
unis['NAME_OF_COURSES'] = unis['NAME_OF_COURSES'].apply(lambda x:x.lower())

In [ ]:
unis[2, 'NAME_OF_COURSES'] = 'COMPUTER PROGRAMMING'

In [ ]:
unis

In [ ]:
del unis[2, 'NAME_OF_COURSES']

In [ ]:
unis

In [ ]:
unis['NAME_OF_COURSES'] = unis['NAME_OF_COURSES'].apply(update_email)

In [ ]:
unis

In [ ]:
unis.loc[[2],['NAME_OF_COURSES']] = 'PROGRAMMING'

In [ ]:
unis

In [ ]:
unis.loc[[4], ['NAME_OF_COURSES']] = 'METHOD OF TEACHING'

In [ ]:
unis

In [ ]:
# minimum
unis.apply(pd.Series.min).head(2)

In [ ]:
# Other way of writing that same code

In [ ]:
unis.apply(lambda x:x.min())

In [ ]:
# work on applymap, map, with examples

In [ ]:
# v6, Add and remove rows and columns from dataframe

In [ ]:
# Adding columns

In [ ]:
unis['Handout'] = 'Yes'

In [ ]:
unis

In [ ]:
unis['Handout'].apply(update_email)

In [ ]:
unis.columns

In [ ]:
def hand(handout):
    return handout.upper()

In [ ]:
unis

In [ ]:
unis['Handout']= unis['Handout'].apply(update_email)

In [ ]:
unis

In [11]:
unis

    id                        name_of_course             name_of_lectures
0  212                              Geometry                   Miss Diana
1  213                          Trigonometry           Mr. Kwabi Emmanuel
2  214  Fundamentals of Computer Programming                    Mr. Hatsu
3  215                            Philosophy  Mr. Archimedes Sena Senadju
4  216                                 Basis                   Mr. Nelson

In [12]:
unis['TIME'] = 6