In [2]:
import pandas as pd

In [3]:
c = pd.read_csv('data/survey_results_public.csv')
schema = pd.read_csv('data/survey_results_schema.csv')

In [ ]:
#c.tail(15)
c.head()

In [ ]:
c.shape

In [ ]:
c.info()

In [ ]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [ ]:
schema

In [ ]:
schema.info()

In [ ]:
c['Hobbyist'].value_counts()

In [ ]:
c.columns

In [ ]:
c.loc[[1020,1000, 200, 30, 1], ['Student', 'Employment', 'MgrMoney', 'LanguageWorkedWith', 'WebFrameWorkedWith']]

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
c.sort_values(by=["Country", "ConvertedComp"], ascending=[True, False], inplace=True)

In [ ]:
q = c[["Country", "ConvertedComp"]].head(3)
q

In [ ]:
schema.sort_index(inplace=True)

In [ ]:
schema.head(5)

In [ ]:
c['Hobbyist'].value_counts()

In [ ]:
c['LanguageWorkedWith'] == 'python'

In [ ]:
f = c[['LanguageWorkedWith', 'Country']]== 'python'

In [ ]:
f

In [ ]:
filt = c['ConvertedComp'] > 70000

In [ ]:
c.loc[filt]

In [ ]:
filt = (c['Country']== 'United States')

In [ ]:
c.loc[filt].head()

In [ ]:
c.columns

In [ ]:
c.loc[[0, 2],['MgrMoney', 'LanguageWorkedWith']]

In [ ]:
# Filtering continues

In [ ]:
high_salary = c['ConvertedComp'] == 1000000

In [ ]:
c.loc[high_salary]

In [ ]:
high_salary.value_counts()

In [ ]:
country = c['Country'] == 'United States'

In [ ]:
c.loc[high_salary, ['Country', 'LanguageWorkedWith']]

c[10]

In [ ]:
c.iloc[10]

In [ ]:
c['UndergradMajor']

In [ ]:
c.loc[[10, 500], ['Hobbyist','Country']]

In [ ]:
# Checking for multiple countries with salary

In [ ]:
countries = ['United States', 'Canada', 'India']

In [ ]:
filts = c['Country'].isin(countries)

In [ ]:
c.loc[filts, ['Country', 'LanguageWorkedWith']]

In [ ]:
# opposite of what you are searching for
c[~filts]

In [ ]:
# checking for a specific language
language = c['LanguageWorkedWith'].str.contains('Python')

In [ ]:
c.loc[language] # to be checked later

In [ ]:
# video 5: Modifying Data Within DataFrame

In [ ]:
# see columns

In [ ]:
c.columns[0:-1]

In [ ]:
def update_email(Country):
    return Country.upper()

In [ ]:
c.columns

In [ ]:
# series, checking for minimum values

In [ ]:
c.apply(pd.Series.min)

In [ ]:
c

In [ ]:
# sorting

In [ ]:
c.sort_values(by='Country').head(100)

In [ ]:
c.sort_values(['Country', 'ConvertedComp'])

In [ ]:
c.sort_values(['Country', 'ConvertedComp'], ascending =[True, False], inplace=True)

In [ ]:
c

In [ ]:
# highest salary

In [ ]:
c['ConvertedComp'].nlargest(10)

In [ ]:
v = c['ConvertedComp'].nlargest(10)

In [ ]:
v

In [ ]:
# smallest

In [ ]:
c.nsmallest(10, 'ConvertedComp')

In [ ]:
# Aggregation,grouping, v8

In [ ]:
#Aggregation means combining multiple piece of data into a single result, eg median, mean, mode

In [ ]:
c['ConvertedComp'].median() # series

In [ ]:
# Entire dataframe

In [ ]:
c.median()

In [ ]:
# For a broad overview of the entire figures in the dataframe, use the variable the dataframe is assign to

In [ ]:
# use the method or function describe()

In [ ]:
c.describe()

In [ ]:
# those who answered the ConvertedComp survey, number of them

In [ ]:
s = c['ConvertedComp'].count()

In [ ]:
s

In [4]:
c['Hobbyist'].count()

88883

In [5]:
c['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [ ]:
c['Student'].value_counts()

In [6]:
c['Employment'].value_counts()

Employed full-time                                      64440
Independent contractor, freelancer, or self-employed     8511
Not employed, but looking for work                       5600
Employed part-time                                       4469
Not employed, and not looking for work                   3803
Retired                                                   358
Name: Employment, dtype: int64

In [7]:
c['SocialMedia']

0          Twitter
1        Instagram
2           Reddit
3           Reddit
4         Facebook
           ...
88878      YouTube
88879          NaN
88880          NaN
88881          NaN
88882     WhatsApp
Name: SocialMedia, Length: 88883, dtype: object

In [8]:
c['SocialMedia'].value_counts()

Reddit                      14374
YouTube                     13830
WhatsApp                    13347
Facebook                    13178
Twitter                     11398
Instagram                    6261
I don't use social media     5554
LinkedIn                     4501
WeChat 微信                     667
Snapchat                      628
VK ВКонта́кте                 603
Weibo 新浪微博                     56
Youku Tudou 优酷                 21
Hello                          19
Name: SocialMedia, dtype: int64

In [ ]:
# To see the above data in percentage use the normalize to true

In [ ]:
g = c['SocialMedia'].value_counts(normalize=True)

In [ ]:
g

In [ ]:
g * 100

In [ ]:
# Groupby is used to get all the data from a group in the form of a dataframe, 
#lets say you want to ge all the dat from United states

In [ ]:
country_grp = c.groupby['Country']

In [ ]:
filt = c['Country'] == 'United States'

In [ ]:
filts = c['ConvertedComp'] > 20000

In [ ]:
c[filts]

In [ ]:
c[filt]

In [ ]:
# watchout for this

In [ ]:
#country_grp = c.groupby['Country']
#country_grp.get_group('United States')

In [ ]:
# Checking the most popular socialmedia in a particular country

In [ ]:
sos = c['Country'] == 'United States'

In [ ]:
c.loc[sos]['SocialMedia'].value_counts(normalize=True)*100

In [ ]:
# median salary using groupby

In [ ]:
cou = c.groupby['Country']

In [ ]:
# check on how the groupby code is written

In [ ]:
# Pass in multiple aggregate still on the country_grp variable to be worked on

In [ ]:
# To check if  a row contains a language PYTHON OR NOT

In [ ]:
filt = c['Country'] == 'India'

In [ ]:
c.loc[filt]['LanguageWorkedWith'].str.contains('Python')

In [ ]:
# Groupby revisited

In [ ]:
#country_grp = c.groupby(['Country'])

In [ ]:
#country_grp.get_group('India')

In [ ]:
#country_grp = c.groupby(['Country'])

In [ ]:
#country_grp.get_group('Zambia')

In [ ]:
ch = c.groupby(['Hobbyist'])

In [ ]:
ch.get_group('Yes')

In [ ]:
#country_grp

In [ ]:
# getting the most popular social media in a particular country

In [ ]:
filt = c['Country'] == 'United States'

In [ ]:
c.loc[filt]['SocialMedia'].value_counts()

In [ ]:
# the above line of code can be performed using groupby which will provide country attach to the social media platforms

In [ ]:
t = c.groupby(['Country']) == 'United States'

In [ ]:
country_grp['SocialMedia'].value_counts()

In [ ]:
#country_grp

In [ ]:
country_grp['SocialMedia'].value_counts().head(50)

In [ ]:
country_grp

In [ ]:
country_grp.get_group('United States')

In [ ]:
country_grp['SocialMedia'].value_counts().loc['United States']

In [ ]:
from_india = c.groupby(['Country'])

In [ ]:
from_india['SocialMedia'].value_counts(normalize =True).head(50)* 100

In [ ]:
# Median salary

In [ ]:
country_grp['ConvertedComp'].median()

In [ ]:
country_grp['ConvertedComp'].median().loc['Germany']

In [ ]:
from_india['ConvertedComp'].median().loc['Zambia']

In [ ]:
from_india['ConvertedComp'].mean().loc['Zambia']

In [ ]:
country_grp

In [ ]:
country_grp['SocialMedia'].value_counts(normalize=True).loc['Ghana']*100

In [ ]:
country_grp['ConvertedComp'].mean()

In [ ]:
# To use multiple aggregate we have to use the agg function on the series

In [ ]:
convert_salary = c.groupby(['Country'])

In [ ]:
convert_salary['ConvertedComp'].agg(['mean', 'median', 'std', 'var']).loc['Ghana']

In [ ]:
convert_salary['ConvertedComp'].agg(['mean', 'median']).loc['Nigeria']

In [ ]:
c.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum() # call sum if 
# you want to know the number of people

In [ ]:
# check the percentage of people in a particular country that use python

In [ ]:
# First grab the total number of peple in each country

In [ ]:
country_respondent = c['Country'].value_counts()

In [ ]:
country_respondent.sort_values(ascending=False)

In [ ]:
# Second grab the number of people who use python in each country

In [ ]:
uses_python  = country_grp['LanguageWorkedWith'].apply
(lambda x:x.str.contains('Python').sum())

In [ ]:
uses_python

In [ ]:
# combine the two variables to arrive at the answer, check out this later

In [ ]:
python_c = pd.concat([country_respondent, uses_python], axis='columns')

In [ ]:
# calcualtions, this works with the above code, 
#until that is fixed the calculations cannot be done. End of video 7

In [ ]:
# Video 9: Cleaning data - Casting datatypes and handling missing

In [ ]:
#How to drop a missing values

In [ ]:
import numpy as np

In [ ]:
#c.dropna() # This drops all rows(index) that have a value missing in them

In [ ]:
c.dropna(axis='index', how='all') # this drops rows if and only if all the 
# values are missing

In [ ]:
c.dropna(axis='index', how='all')

In [ ]:
# this same analogue holds for column as well

In [ ]:
c

In [ ]:
d = c.dropna(axis='columns', how='any') # any keyword drops any column 
#that has the NAN in it, whiles the all keyword ignores some

In [ ]:
d

In [ ]:
# Dropping rows that are missing specific columns
#say we need the email but they do not have first and last name, use 
# subset

In [ ]:
#c.dropna(axis='index', how='any', subset=['email'])

In [ ]:
# Anytime there is missing value, numpy should be imported to
# for use to replace the value

In [ ]:
#c.replace('NA', np.nan, inplace=True) # nan is an inbuilt attribute in numpy

In [ ]:
c.replace('Missing', np.nan, inplace=True)

In [ ]:
# After replacing them, they can be brought back by using the drop method

In [ ]:
c.dropna(axis='index', how='any')

In [ ]:
# To check the rows that are na value

In [ ]:
c.isna().head(10)

In [ ]:
# In numerical data you could replace missing data with zero using the 
# fillna method or function

In [ ]:
c.fillna()

In [ ]:
c.fillna(4)

In [ ]:
# For places where strings are missing we could use missing inplace of them
# but for numbers we can use zero

In [ ]:
c.fillna('Missing')

In [ ]:
# to check the type of data use dtype

In [ ]:
c.dtypes

In [ ]:
# converting nan which is age to float since they are float types

In [ ]:
c.dtypes

In [ ]:
c['Age'] = c['Age'].astype(float)

In [ ]:
c['Age'].mean()

In [ ]:
c['Age']

In [ ]:
c['ConvertedComp'] = c['ConvertedComp'].astype(float)

In [ ]:
c['ConvertedComp'].median()

In [ ]:
c['ConvertedComp'].mean()

In [ ]:
c['ConvertedComp'].mode()

In [ ]:
# to get the unique values of a data

In [ ]:
c['YearsCode'].unique()

In [ ]:
# to replace a string in numbers with numbers, use the replace method

In [ ]:
c['YearsCode'].replace('Less than 1 year', 0, inplace=True)

In [ ]:
c['YearsCode'].unique()

In [ ]:
 b= c['YearsCode'].replace('More than 50 year', 51, inplace=True)

In [ ]:
c['YearsCode'] = c['YearsCode'].astype(float)

In [ ]:
c['CurrencyDesc'].unique()

In [ ]:
c

In [ ]:
#How to read and write data from other sources using csv, json, sql, excel
Ghana = (c['Country']=='Ghana')

In [ ]:
gh = (c.loc[Ghana])

In [ ]:
gh

In [ ]:
gh.head()

In [ ]:
# Writing to csv

In [ ]:
# filter what you want

In [ ]:
#Export new filter frame to csv file
gh = c.loc[Ghana]

In [ ]:
gh

In [ ]:
#gh.to_csv('data/modified1.csv')

In [ ]:
# Writing to tab format

In [ ]:
#gh.to_csv('data/modified.c=tsv', sep=v\t ) check this later

In [ ]:
#Writing to excel

In [ ]:
# if other editors which do not have all packages, you have to install the ff
# pip install xlwt openpyxl xlrd

In [ ]:
# write to excel now

In [ ]:
gh.to_excel('data/modified.xlsx')

In [ ]:
# to write a specific worksheet in excel you have to add another argument
#google to see the argument you have to add

In [ ]:
# writing to json

In [ ]:
gh.to_json('data/modified.json')

In [ ]:
gh.to_json('data/modified.json', orient='records', lines=True)

In [ ]:
#Reading json file

In [ ]:
test = pd.read_json('data/modified.json', orient='records', lines=True)

In [ ]:
test

In [ ]:
# to connect to database we need to install that is if you are not using 
# anaconda

In [ ]:
#pip install SQLAlchemy
#If using SQLite, the earlier on installed package is enough
#But if postgresql, you need to install 
#pip install psycopg2-binary

In [ ]:
#Now lets connect

In [ ]:
from sqlalchemy import create_engine
import psycopg2

In [ ]:
# database creation
engine = create_engine('postgresql://postgress:postgress@localhost:2579books/Health')

In [ ]:
engine

In [ ]:
sql_c= pd.read_sql('Health', engine, index_col='Respondent')

In [ ]:
# sql part of reading and writing data should be left for another day
# create a new database by uninstalling the database and reinstalling 
# and take it from there

In [ ]:
# work on the url or API data reading as well

In [ ]:
# data score is a good source of info